<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new category</title>
</head>
<body  style="text-align: center;">
<h3>Add new category</h3>
<form>
    <a th:href="@{/categorys}">Categories list</a>
    ||
    <a th:href="@{/create-note}">Create new note</a>
</form>
<p></p>
<th:block th:if="${msg}">
    <p th:text="${msg}"></p>
</th:block>
<form th:action="@{/save-category}" th:object="${category}" method="post">
    <table align="center">
        <tr>
            <td>Category name</td>
            <td><label>
                <input type="text" th:field="*{name}"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add Category"></td>
        </tr>
    </table>
</form>
<form th:action="@{/categorys}" method="get">
    <label><input type="submit" value="cancel">
    </label>
</form>
</body>
</html>
